html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
		       supported by Chrome and Opera */
}

body {
    user-select: none;
    font-family: gotic, sans-serif;;
    display: inline;
    font-size: 1.5em;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.big {
    width : 100vw;
    height: 100vh;
    position: absolute;
}
a {
    text-decoration: none;
    color: white;
}
#title{
    height: 90vh;
    vertical-align: middle;
    line-height: 100vh;
}

@media only screen and (max-width: 479px),
@media (pointer:none), (pointer:coarse) {
    
}

#smartphone-controls{
    text-align: center;
    display: block !important;
    z-index: 10;
    height: 8vh;
    position: fixed;
    top: 1vh;
    left: 1vh;
}

.button-smartphone {
    display: block;
    background: transparent;
    text-decoration: none;
    width: 62px;
    height: 42px;
    cursor: pointer;
    background-image: url(images/green/button_square.svg);
    margin-bottom: 4px;
    text-align: left;
}
.purple .button-smartphone { background-image: url(images/purple/button_square.svg);}
.button-smartphone > img {
    width: 20px;
    padding-top: 12px;
    padding-left: 16px;
}

#focus-section {
    position: fixed;
    bottom: 1vh;
    text-align: left;
    display
}
.character {
    margin-left: 1vh;
    margin-bottom: 8px;
    color: #30ff30;
    font-size: 14px;
}
.purple .character {color: #c830ff;}
.active { background-image: url(images/green/button_square_active.svg); }
.purple .active {background-image: url(images/purple/button_square_active.svg);}

#focus-button
{
    color: #30ff30;
    margin-left: 1vh;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 18px;
    background-image: url(images/green/button.svg);
    width: 162px;
    height: 50px;
    display: block;
    text-align: left;
    line-height: 52px;
    padding-left: 22px
}
.purple #focus-button {
    color: #c830ff;
    background-image: url(images/purple/button.svg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
    #focus-button
    {
        width: 436px;
        height: 136px;
        line-height: 150px;
        font-size: 46px;
        background-image: url(images/green/button_large.svg);
        padding-left: 60px;
    }
    .purple #focus-button {
        background-image: url(images/purple/button_large.svg);
    }

    .character{font-size: 36px;}

    .button-smartphone {
        background-image: url(images/green/button_square_large.svg);
        width: 156px;
        height: 110px;
    }
    .purple .button-smartphone { background-image: url(images/purple/button_square_large.svg); }
    .active { background-image: url(images/green/button_square_active_large.svg);}
    .purple .active { background-image: url(images/purple/button_square_active_large.svg);}
    .button-smartphone > img {
        width: 44px;
        padding-top: 30px;
        padding-left: 42px;
    }
}

.glow {
    text-shadow: 0 0 4px rgba(172, 251, 192, 0.65);
}
.purple .glow {
    text-shadow: 0 0 4px rgba(230, 172, 251, 0.65);
}
